:root {
    --HeaderColor: rgb(252, 124, 1);
    --BgColor: rgb(4,43,69);
}

html {
    background-image: url(/brawl.jpeg)
}

header {
 margin: auto;
}

body {
    min-height: 100vh;
    margin: 0px;
}