:root {
    --HeaderColor: rgb(252, 124, 1);
    --BgColor: rgb(4,43,69);
}

html {
    background-image: url(/BackgroundWebsite.jpeg);
    background-size: cover;
}

header {
    background-color: rgb(107, 168, 212);
}

body {
    min-height: 100vh;
    margin: 0px;
}

.Logo {
    padding: 20px;
    width: 10%;
}