:root {
    --HeaderColor: rgb(252, 124, 1);
    --BgColor: rgb(4,43,69);
}

html {
    margin: 0px;
}

.GoFoodName {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 100px;
}

.LogoGoFood {
    border-right: solid;
}

header {
    background-color: var(--HeaderColor);
    height: 146px;
    display: flex;
    border-style: solid;
}

body {
    min-height: 100vh;
    margin: 0px;
}

.TransparentBG {
    background-color: var(--BgColor);
    min-height: 100vh;
    opacity: 75%;
}

img {

}

.SiteFooter {
    border-style: solid;
    height: 40px;
    background-color: var(--HeaderColor);
}